:root {
    --border-radius: 50px;
    --color-green: #4caf50;
    --color-dark-green: #2c822f;
}
html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Open Sans", sans-serif;
}

.okvir {
    max-width: 1000px;
    margin: 0 auto;
}
header {
    height: 150px;
    background-image: url('background-img/nature.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    gap: 30px;
}
header img {
    height: 80px;
    width: auto;
    margin-left: 30px;
}
header h1 {
    color: white;
    font-size: 35px;
}
nav {
    background-color: var(--color-green);
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav a {
    color: white;
    background-color: var(--color-green);
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    transition: all .5s ease;
}


/* nav a.active, */


nav a:hover {
    background-color: var(--color-dark-green);
}
.vsebina {

    display: flex;
    flex-flow: row nowrap;
}
main {
    max-width: 700px;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}


article time {
    color: rgb(218, 166, 99);
    font-size: 90%;
    font-style: italic;
}


/* article p {
   height: 44px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   display: block;
} */


article {
    flex: 0 0 calc(33.33% - 20px);
    margin: 0;
    padding: 0;
    box-shadow: 1px 1px 5px rgba(0,0,0,.25); 
    border-radius: var(--border-radius);
}


article:hover {
    box-shadow: 3px, 3px, 8px rgba(0,0,0,.25);
    transform: translate(2px, 2px);
}


article figure {
    margin: 0;
    filter:blur(0.5px)
}


article:hover figure {

    filter:blur(0px)
}

article h2 {
    margin: 0;
    color: var(--color-green);
}


article img {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

article a {
    color: var(--color-green);

}

article a:hover {
    color: var(--color-green);
    text-decoration: none;
}

article a::before {
    content: "";
}

article a::after {
    content: ">";
    margin-left: 0px;
    top: -4px;

}



article figure figcaption {
    display: none;
}



article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

article section {
    padding: 20px;
}

aside {

    width: 300px;
}
footer {
    height: 80px;
    color: white;
    background-color: var(--color-dark-green);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
footer a {
    color: white;
    transition: all .5s ease;
    margin-left: 5px;
}
footer a:hover {
    text-decoration: none;
}


aside {
    width: 300px;
    background-color: lightgray;
}


aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

aside a {
    padding: 15px;
    color: var(--color-green);
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    gap: 5px;
    transition: all .3s ease;
}

aside a:hover {
    background-color: rgb(125, 125, 125);
    color: rgb(255, 255, 255);
}





aside img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 5px;
}